body {
	font-family: 'Roboto', sans-serif;
}
.container {
	width: 1100px;
	margin: 0 auto;

}

.header {
  	background-color: #4b73b5;
}
/*header*/
.contact__phone a {
	text-decoration: none;
	font-size: 21px;
	color:  #ffffff;
	font-weight: bold;
}
.contact__schedule a {
	color: rgba(255, 255, 255, 0.7);
	font-weight: bold;
	font-size: 14px;
}

/*sidebar*/
.navigation__list {
	padding-top:  30px;
}
.navigation__item {
    list-style: none; 
    padding-left: 30px;
     

}
.navigation__link {
	text-decoration: none;
	color: #4b73b5;
	text-transform: uppercase;


}
.navigation__link:hover {
	color: #221f1f;

}
.navigation__item--main {
	background: url(img/sidebar/main-icon-hover.png) no-repeat ;
}
.navigation__item--feed {
	background: url(img/sidebar/feed-icon.jpg) no-repeat ;
}
.navigation__item--feed:hover {
	background: url(img/sidebar/feed-icon-hover.png) no-repeat ;
}
.navigation__item--team {
	background: url(img/sidebar/team-icon.png) no-repeat ;
}
.navigation__item--team:hover {
	background: url(img/sidebar/team-icon-hover.png) no-repeat ;
}

/*main*/
	/*price*/


.price__title h1 {
	font-weight: bold;
	color: #221f1f;
	font-size: 49px

}
.price__list {
	list-style: none; 
}
.price__item {
	width: 250px;
}
.price__icon {
	background-color: #4b73b5;
	width: 68px;
	height: 68px;
	border-radius: 50%;	
	margin: 0 auto;
}
.price__icon img {
	display: block;
	margin: 0 auto;

}

.price__content {
	margin: 0 auto;
	width: 185px;
}
.price__what {
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}
.price__for-whom p{
	text-align: center;
	font-size: 18px;
}
.price__for-whom-list {
	list-style-type: disc;

}

.price__money {
	text-align: center;
}
.price__money p{
	font-size: 54px;
	
}
.price__money  p span {
	font-size: 30px;
}



/*main*/
	/*news*/

.news__title h1 {
	font-weight: bold;
	color: #221f1f;
	font-size: 49px;
	

}
.news__item {
	list-style: none;

	
}

.news__icon img {
	width: 160px;
	height: 160px;
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
}
.news__text {
	
	width: 652px;
}
.news__text-title p {
	font-weight: bold;
}
.news__text-date {
	font-weight: lighter;
	color: #656464;
	font-size: 14px;
}	
	

/*pagination*/
.pagination__item {
	display: inline-block;
	width: 25px;
  	height: 25px;
  	color: #656464;
}


.pagination__item:hover {
	background-color: #4b73b5;
	color:  #ffffff;
}
.pagination__item a {
	text-decoration: none;
}


/*footer*/
.footer {
	background-color: #4b73b5;
}
.container--footer {
	color: #ffffff;
}
.social__item {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #d2def3;
	border-radius: 50%;
}
.social__item:hover {
	background-color: #ffffff;
}
.social__item img {
	 object-fit: contain;
	 width: 11px;
  	 height: 9px;
}
.author--footer {
	font-size: 14px;
	width: 243px;
}
.author--footer a {
	color: #ffffff;
} 
.logo--footer {
	width: 120px;
	height: 36px;
}