
body, body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.container {
	width: 1100px;
	margin: 0 auto;

}

.header {
  	background-color: #4b73b5;
  	height: 77px;

}
.sidebar {
	width: 201px;
	float: left;
	padding-left: 0px;
}
.main {
	float: right;
	

}
.wrapper {
	position: relative;
	min-height: 100%;
	height: auto!important;
	overflow: hidden;
}
.wrapper:after {
	content: "";
	height: 77px;
	display: block;
}
.container__footer {
	height: 77px;
	margin-top:-77px;
	clear: both;
}
.title__h2 {
	font-weight: bold;
	color: #221f1f;
	font-size: 49px;	
}
.title__h2--price {
	margin-top: px;
	margin-bottom: 100px;
}
.title__h2--news {
	margin-top: 100px;
	margin-bottom: 100px;
}

/*header*/
.logo--header {
	display: inline-block;
}
.logo__img {
	width: 120px;
	height: 36px;
	position: relative;
	top: 20px;
}
.contact__phone {
	padding-bottom: 10px;
}
.contact__phone--link {
	text-decoration: none;
	font-size: 21px;
	color:  #ffffff;
	font-weight: bold;

}
.contact__schedule--link {
	color: rgba(255, 255, 255, 0.7);
	font-weight: bold;
	font-size: 14px;
	float: right;
}
.contact--header {
	float: right;
	position: relative;
	top: 20px;
}

/*sidebar*/

.navigation__list {
	padding-top:  30px;
	padding-left: 0px;
}
.navigation__item {
    list-style: none; 
    padding-left: 30px; 
    padding-bottom: 20px;
     
}
.navigation__link {
	text-decoration: none;
	color: #4b73b5;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;

}
.navigation__link--active {
	color: #221f1f;
}
.navigation__link:hover {
	color: #221f1f;

}
.navigation__item--main {
	background: url(img/sidebar/main-icon-hover.png) no-repeat ;
}
.navigation__item--feed {
	background: url(img/sidebar/feed-icon.jpg) no-repeat ;
}
.navigation__item--feed:hover {
	background: url(img/sidebar/feed-icon-hover.png) no-repeat ;
}
.navigation__item--team {
	background: url(img/sidebar/team-icon.png) no-repeat ;
}
.navigation__item--team:hover {
	background: url(img/sidebar/team-icon-hover.png) no-repeat ;
}

/*main*/
	/*price*/



.price__list {
	list-style: none; 
	padding-left: 0px;
}
.price__item {
	width: 250px;
	display: inline-block;
	padding-left: 0px;
}
.price__icon {
	background-color: #4b73b5;
	width: 72px;
	height: 72px;
	border-radius: 50%;	
	margin: 0 auto;
}
.price__icon--img {
	width: 32px;
	height: 32px;
	position: relative;
	top: 21px;
	left: 21px;

}

.price__content {
	margin: 0 auto;
	width: 185px;
}
.price__what {
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 20px;
}
.price__for-whom-p{
	width: 188px;
	text-align: center;
	font-size: 18px;
	padding-bottom: 10px;

}
.price__for-whom-list {
	list-style-type: disc;


}

.price__money {
	text-align: center;
}
.price__money--coin{
	font-size: 54px;
	padding-top: 15px;
	
}
.price__money--currency {
	font-size: 30px;
}



/*main*/
	/*news*/

.news__item {
	list-style: none;
	padding-left: 0px;
	display: list-item;
}
.news__icon {
	float: left;
	padding-right: 20px;
	padding-top: 30px;
}
.news__text {
	float: left;
	padding-top: 30px;
	width: 652px;
}

.news__img {
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 50%;
}

.news__text-title {
	font-weight: bold;
}
.news__text-date {
	font-weight: lighter;
	color: #656464;
	font-size: 14px;
}	
	

/*pagination*/
.pagination__item {
	display: inline-block;
	width: 25px;
  	height: 25px;
  	color: #656464;
}


.pagination__item:hover {
	background-color: #4b73b5;
	color:  #ffffff;
}
.pagination__link {
	text-decoration: none;
}


/*footer*/
.footer {
	background-color: #4b73b5;
}
.container--footer {
	color: #ffffff;
}
.social__item {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #d2def3;
	border-radius: 50%;
}
.social__item:hover {
	background-color: #ffffff;
}
.social__img {
	position: relative;
	left: 4px;
	
}
.author--footer {
	font-size: 14px;
	width: 243px;
}
.author--link  {
	color: #ffffff;
} 
.logo--footer {
	width: 120px;
	height: 36px;
}